header>nav ul {
    margin: 0;
    padding: 0;
    color: White;
    background-color: DimGray;
    list-style-type: none;
}
header>nav a {
    display: block;
    padding: 1em;
    color: White;
    text-decoration: none;
}
h1 
{
  color: White; 
  align= "center";
}

h3 
{
  color: White; 
  align= "center";
}

body 
{
  margin: 0;
}

p 
{
  color: White;
}

ol
{
  display: inline-block;
  color: White;
}

ul
{
  color: Gray;
  display: inline-block;
}
div 
{
  display: inline-block;
  box-sizing: border-box;
  padding: 1em;
  width: 30%;
  vertical-align: top;
}
