h1 
{
  color: Orange; 
  align= "center";
}
p 
{
  color: LightGreen;
}

ol
{
  color: LightGreen;
}

ul
{
  color: Gray; 
}
div 
{
  display: inline-block;
  box-sizing: border-box;
  padding: 1em;
  width: 40%;
  vertical-align: top;
}
